/*
    --------------------------
            Globals
    --------------------------
*/

body {
    background-color: black;
    overflow: scroll;
}

/*
    ------------------------
            Classes
    ------------------------
*/

.log_row {
    background-image: url(images/log.png);
}

.boardwalk_row {
    background-image: url(images/boardwalk.png);
    background-size: contain;
}

.lilypad_row {
    background-image: url(images/lilypad.png);
}

.water_row {
    background-image: url(images/water.png);
}

.sidewalk_row {
    background-image: url(images/sidewalk.png);
    background-size: contain;
}

.road_row {
    background-image: url(images/road.png);
}

.end_row {
    background-image: url(images/end.png);
    background-size: contain;
}

.grass_row {
    background-image: url(images/grass.png);
    background-size: contain;
}

/*
    --------------------------
                Ids
    --------------------------
*/

#start-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(images/toader-start-screen.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#game-board {
    height: 100vh !important;
    flex-direction: row;
    flex-wrap: wrap;
}